/* Désactive les coupures de mots et force l'alignement propre */
.profile-description, 
.profile-description * {
    word-break: normal !important;    /* Ne coupe jamais un mot au milieu */
    overflow-wrap: normal !important; /* Empêche le débordement forcé */
    hyphens: none !important;         /* Désactive les tirets automatiques */
    text-align: left !important;      /* Évite les grands espaces vides du 'justify' */
    
}

/* Force le texte à ne pas coller à droite, peu importe le contenu HTML */
.profile-description p, 
.profile-description div,
.profile-description span {
    margin-right: 15px !important; /* <--- Crée l'espace nécessaire */
    margin-bottom: 10px;
}

.photo-zoom-overlay img {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.report-modal-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 3000;
  display: flex; align-items: center; justify-content: center;
}

.report-modal-content {
  background: #12122d;
  border: 2px solid #d4af37;
  border-radius: 20px;
  padding: 30px;
  width: 90%; max-width: 500px;
  color: white;
  position: relative;
}

.custom-dropdown {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #d4af37;
  border-radius: 10px;
  color: #d4af37;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #12122d;
  border: 1px solid #d4af37;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  z-index: 3001;
  border-radius: 10px;
}

.dropdown-options li {
  padding: 12px;
  transition: all 0.2s;
}

.dropdown-options li:hover {
  background: #d4af37;
  color: #12122d;
}

/* Bouton de fermeture stylisé */
.close-btn-custom {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(212, 175, 55, 0.1);
  border: 1px solid #d4af37;
  color: #d4af37;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.close-btn-custom:hover {
  background: #d4af37;
  color: #12122d;
}

/* Zone de texte */
.report-textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #d4af37;
  border-radius: 10px;
  padding: 12px;
  color: white;
  margin-top: 10px;
  resize: none;
}

.report-textarea:focus {
  outline: none;
  border-color: white;
}